.cardd:hover {
    transform: scale(1.05); /* Increase size on hover */
    transition: transform 0.3s ease; /* Smooth transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
  }
  
  .cardd:hover .card-title {
    color: #007bff; /* Change title color on hover */
  }



.cardd:hover p {
    color: white;
    margin: 5px 10px; /* Set left and right margins to 10px */
    font-size: 10px;
}
  
  .cardd:hover .badge {
    background-color: #ffc107; /* Change badge background color on hover */
    color: #212529; /* Change badge text color on hover */
  }
  

/* CSS for the circular icon */
.icon-circle {
  width: 25px; /* Adjust as needed */
  height: 25px; /* Adjust as needed */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid rgb(25, 120, 236); /* Default blue border */
  transition: border-color 0.3s ease; /* Transition for border color change */
}

/* CSS for the liked state */
.icon-circle.liked {
  border-color: rgba(12,188,135,255); /* Green border when liked */
}

/* Styling for the FontAwesome icon */
.icon-circle .fa-icon {
  font-size: 20px; /* Adjust as needed */
  color: blue; /* Default blue color */
}

/* Styling for the FontAwesome icon in the liked state */
.icon-circle.liked .fa-icon {
  color: green; /* Green color when liked */
}


/*Table avalaible*/
.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-table th,
.calendar-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.calendar-table th {
  background-color: #f2f2f2; /* Header background color */
  color: #333; /* Header text color */
  user-select: none; /* Prevent selection */
  width: 12%;
}



.calendar-table .time-column {
  background-color: #f2f2f2; /* Time column background color */
  color: #333; /* Time column text color */
  user-select: none; /* Prevent selection */
  white-space: nowrap; /* Prevent text wrapping */

}

.calendar-table .selected {
  background-color: #94bdea; /* Selected cell background color */
  color: #fff; /* Selected cell text color */
}

.non-selectable-cell {
  background-color: #f58888; /* Change to your desired color */
}

.outside-range-cell {
  background-color: #ffffff; /* Change to your desired color */
}






